<form class="channel-form" id="channel-rename-form">
    <input class="channel-form-text" id="channel-rename-form-text" type="text" name="channelName" placeholder="Новое имя канала" />
    <button class="channel-sumbit" id="channel-add-form-sumbit" type="submit" value="Отправить"><i class="fa-solid fa-check" style="color: #ffffff;"></i></button>
    <button class="channel-cancel" id="channel-add-form-cancel" type="submit" value="Отмена"><i class="fa-solid fa-ban" style="color: #ffffff;"></i></button>
</form>
