<div class="add-group-text-form">
    <form id="group-create-form">
        <label for="groupName" class="add-group-text-label">Имя группы</label>
        <input type="text" name="groupName">
        <input class="add-group-text-button" type="submit" value="Создать" onclick="CreateNewGroup(event)">
    </form>

    <p>Или</p>

    <form id="GroupCodeForm">
        <label for="groupCode">Код:</label>
        <input type="text" name="code" />
        <input class="add-group-text-button" id="group-code-button-sumbit" type="submit" value="Вступить" onclick="JoinInGroup(event)">
    </form>
</div>

