<div class="group-settings-form-text">
    <form id="RenameForm">
        <label for="method">Что вы хотите ?</label>
        <select id="method" name="method">
            <option value="rename">Переименовать группу</option>
            <option value="addUser">Добавить пользователя</option>
            <option value="deleteGroup">Удалить группу</option>
            <option value="changeGroupAvatar">Изменить аватарку</option>
        </select>
        <br />
        <label id="name-label-settings" for="text">Новое название группы:</label>
        <input  id="text-label-settings" type="text" autocomplete="off" name="text" />
        <button id="rename-addUser-button" type="submit">Переименовать</button>
    </form>
</div>

