@using Chat.Models
@model User
@{
}


<div class="navigation-group">
    <div class="navigation-group-load" id="navigation-group-load">
    <div class="navigation-group-title">
            <span class="navigation-group-text" id="navigation-group-text-name"></span>
        <div class="navigation-group-title-settings">
        </div>
    </div>

    <div class="navigation-group-channels">
        <div class="navigation-group-channels-title">
            <div class="navigation-group-channels-count"></div>
        </div>
        <div class="navigation-group-channels-name" id="channels-block">
        </div>
    </div>
    </div>
</div> <!--./navigation-group-->
